#app {
display: grid;
grid-template-columns: 51.25% 48.75%;
overflow: hidden;
height: 100vh;


}


main {
padding: 4rem;
overflow: auto;

& .main-container {
    margin-left: auto;
    max-width: 33rem;
}

.back {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;

    h1 {
font: 600 1.5rem/1.25 var(--font-family);
margin-bottom: .5rem;
    }
}
}

asside {
padding: 4rem;
background-color: var(--surface-secondary);


& .asside-container {
margin-right: auto;
max-width: 31rem;

& > img {
    object-fit: cover;
    margin-top: 2rem;
}


    h2 {
        font: 600 2.5rem/1.25 var(--font-family);
margin-bottom: .5rem;
        span {
            color: var(--text-highlight);
        }
    }

   

} }

@media (width < 80em) {
   #app {
    grid-template-columns: 1fr;
    

& asside {
grid-row: 1/2;
padding: 1.5rem;
& header h2, p {
    display: none;
}

& header img {
height: 2rem;
width: 100%;

}
    & > img {
        height: 14.5rem;
    }

}

}
}